body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 450px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.title {
  color: #187bcd;
  text-align: center;
}

h3 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.submit-button {
  background-color: #187bcd;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #125a9e;
}

.result {
  margin-top: 20px;
  padding: 15px;
  background-color: #e6f7ff;
  border-radius: 5px;
  /* text-align: center; */
}

.description {
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
  white-space: pre-wrap;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
